/********************
 *
 * Global Section   *
 *                  *
 ********************/
* {
    /* #2 #font #faces */
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    /* #2 #colorful #background */
    background-color: #F5F5F5;
}

h1 {
    /* #2 #colourful #app-bar */
    background-color: #3F51B5;
    color: white;
}

button {
    /* #2 #colourful #plusfive */
    background-color: #CDDC39;
    color: black;
    /* #2 #font capital #letters */
    text-transform: uppercase;
}



/********************
 *                  *
 *      App Bar     *
 *                  *
 ********************/
h2 {
    /* #2 #colorful #channelandchat */
    background-color: white;
}

/********************
 *                  *
 *  Channel-Lists   *
 *                  *
 ********************/

ul {
    background-color: white;
}

li {
    list-style-type: none;
    padding: 16px;
    font-size: 16px;
    border: 1px;
    border-bottom-color: #F5F5F5;
    border-bottom-style: solid;
}

li img{    
    vertical-align: middle;
}

li.selected {
    border-left: 4px;
    border-left-color: blue;
    border-left-style: solid;  
}

/********************
 *                  *
 *      Tab Bar     *
 *                  *
 ********************/
#tab-bar {
    background-color: white;
    white-space: nowrap;
}

#tab-bar button {
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border: 0px;
    font-size: 13px;
    width: 33%;
    height: 72px;
    padding: 16px;
}


#tab-bar button.selected {
    color: blue;
    width: 33%;
    border-bottom: 4px;
    border-bottom-style: solid;
}

#tab-bar img {
    display: block;
    margin: 0px auto 4px auto;
}
 
/********************
 *                  *
 *      Messages    *
 *                  *
 ********************/


.chat-msg {
    width: 80%;
    font-size: medium;
    margin-left: 2.5%; 
    margin-bottom: 8px;
}

.chat-msg button {
    background-color: #CDDC39;
    text-transform: uppercase;
}

.chat-msg em {    
    font-size: larger;
    font-style: normal;
}

.chat-msg strong {
    color: black;
    text-transform: uppercase;
}

.chat-msg.own {
    margin-left: 17.5%; 
}

.chat-msg p {
    background-color: white;
    padding: 16px;
}

.chat-msg h3 {
    color: black;
}

